@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

.App {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  font-size: 5rem;
}

button,input,a, .temp{
  font-size: 1.5rem;
}

.city{
  font-size: 3rem;
}

.temp{
font-weight: bold;
}

nav{
  margin-top: 20px;
}

button{
  border-radius: 25px;
  margin-left: 10px;
  background-color: #abd8ed;
  font-weight:lighter;
}

button:hover{
  background-color: #339cff;
  color: azure;
}

a{
  text-decoration: none;
}

