@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');


body{background-image: url('https://images.unsplash.com/photo-1563974318767-a4de855d7b43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80');
}

.App {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  font-size: 4rem;
}

button,input,a, .temp{
  font-size: 1.3rem;
}

.city{
  font-size: 2.5rem;
}

.temp{
font-weight: bold;
color: azure;
}

nav{
  margin-top: 20px;
}

button{
  border-radius: 25px;
  margin-left: 10px;
  background-color: #abd8ed;
  font-weight:lighter;
}

button:hover{
  background-color: #339cff;
  color: azure;
}

a{
  text-decoration: none;
}

